In [1]:
%load_ext autoreload
%autoreload 2

## Imports

In [10]:
import json
import pickle
import os
import scipy.sparse
import sys

import numpy as np
import pandas as pd
import matplotlib.pyplot as plt

from helper_functions import *
from scipy.sparse import dok_matrix

# Load data

In [3]:
col_names_consumption = ['user-mboxsha1', 'musicbrainz-artist-id', 'artist-name', 'plays']

df = pd.read_csv('../data/usersha1-artmbid-artname-plays.tsv', sep='\t', names=col_names_consumption)
df = df.rename({'user-mboxsha1':'user_id', 'musicbrainz-artist-id':'artist_id'}, axis=1)
df = df[['user_id', 'artist_id', 'plays']]
df.head()

,user_id,artist_id,plays
0,00000c289a1829a808ac09c00daf10bc3c4e223b,3bd73256-3905-4f3a-97e2-8b341527f805,2137
1,00000c289a1829a808ac09c00daf10bc3c4e223b,f2fb0ff0-5679-42ec-a55c-15109ce6e320,1099
2,00000c289a1829a808ac09c00daf10bc3c4e223b,b3ae82c2-e60b-4551-a76d-6620f1b456aa,897
3,00000c289a1829a808ac09c00daf10bc3c4e223b,3d6bbeb7-f90e-4d10-b440-e153c0d10b53,717
4,00000c289a1829a808ac09c00daf10bc3c4e223b,bbd2ffd7-17f4-4506-8572-c1ea58c3f9a8,706

In [6]:
PATH_DIR = '../data/lastfm_subset/'

In [9]:
for f in os.listdir(PATH_DIR):
    if len(f) == 1:
        print([file for file in os.listdir('{}{}'.format(PATH_DIR, f))])

['.DS_Store', 'R', 'U', 'I', 'N', 'G', 'Z', 'T', 'S', 'A', 'F', 'O', 'H', 'M', 'J', 'C', 'D', 'V', 'Q', 'X', 'E', 'B', 'K', 'L', 'Y', 'P', 'W']
['I', 'G', 'A', 'F', 'H', 'C', 'D', 'E', 'B']

In [14]:
with open('{}A/A/A/TRAAAAW128F429D538.json'.format(PATH_DIR)) as f:
    data = json.load(f)
f.close()

In [21]:
pd.DataFrame.from_dict(data, orient='index').transpose()

,artist,timestamp,similars,tags,track_id,title
0,Casual,2011-08-02 20:13:25.674526,"[[TRABACN128F425B784, 0.871737], [TRIAINV12903...","[[Bay Area, 100], [hieroglyiphics, 100], [clas...",TRAAAAW128F429D538,I Didn't Mean To